[submodule "RilekEngine/Deps/spdlog"]
	path = RilekEngine/Deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RilekEngine/Deps/glfw"]
	path = RilekEngine/Deps/glfw
	url = https://github.com/amirrafie/glfw.git
