[submodule "RilekEngine/Deps/spdlog"]
	path = RilekEngine/Deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RilekEngine/Deps/glew"]
	path = RilekEngine/Deps/glew
	url = https://github.com/nigels-com/glew.git
